@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

#cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comingSoon {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: aqua;
    text-shadow: 15px 15px 5px black;
    cursor: default;
}

.comingSoon:hover {
    color: rgb(159, 96, 255);
    transition: color 250ms;
    animation: identifier 0.2s ease-out forwards;
}

@keyframes identifier {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

#discord {
    display: flex;
    position: absolute;
    top: calc(100vh - 7.5rem);
    left: calc(100vw - 9rem);
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: none;
    background-color: rgb(159, 96, 255);
    box-shadow: 10px 10px 5px black;
    align-items: center;
    justify-content: center;
}

#discord:hover {
    transition: background 200ms;
    background-color: rgb(91, 54, 147);
}

#discord img {
    width: 60%;
}

#discord:hover > img {
    transition: opacity 200ms;
    opacity: 0.5;
}